services:
  build-tcd:
    image: openwatersio/xtide
    volumes:
      - ./dist:/dist
    entrypoint: ["build_tide_db"]

  xtide:
    image: openwatersio/xtide
    volumes:
      - ./dist:/data
    environment:
      - HFILE_PATH=/data/harmonics-metric.tcd
    entrypoint: ["tide"]
